.widget-comments { 
  background-color: #eb9c3c;  
}
.widget-comments .title { 
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 15px;
}

.widget-comments .name {
    padding-left: 5px;
}

.widget-comments .comment-container {
  display: none;
}

.widget-comments .more-info {
  color: rgba(255, 255, 255, 0.7);
}