.widget-coremeter {
  background-color: #429c74;
}
.widget-coremeter div.barholder {
  display: block;
  width: 200px;
  height: 180px !important;
  align: center;
}
.widget-coremeter div.barholder ul.barchart {
  z-index: -1;
  width: 200px !important;
  height: 180px !important;
  padding: 10px;
  vertical-align: bottom;
  display: inline-block;
}
.widget-coremeter div.barholder ul.barchart li {
   display: inline-block;
   width: 35px !important;
   position: absolute;
   float: left;
   bottom: 10px;
   background-color: rgba(128,192,192,0.5);
   border-top: 1px solid rgb(128,192,192);
   border-left: 1px solid rgb(128,192,192);
   border-right: 1px solid rgb(128,192,192);
}
.widget-coremeter div.barholder ul.barchart :nth-child(1) {
   left: 62px;
}
.widget-coremeter div.barholder ul.barchart :nth-child(2) {
   left: 114px;
}
.widget-coremeter div.barholder ul.barchart :nth-child(3) {
   left: 166px;
}
