.widget-cpumeter {
  background-color: #42749c;
}
.widget-cpumeter input.cpumeter {
  background-color: #5080a0;
  color: #fff;
  opacity: 0.8;
}
.widget-cpumeter .grouper {
   display: table; margin: auto;
}
.widget-cpumeter .title {
  color: rgba(255, 255, 255, 0.7);
}
.widget-cpumeter .more-info {
  color: rgba(255, 255, 255, 0.3);
}
.widget-cpumeter .updated-at {
  color: rgba(0, 0, 0, 0.3);
}
.widget-cpumeter p.value {
  position: absolute;
  top: 48%;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  z-index: 10;
}
.widget-cpumeter .meter {
  position: absolute;
  left: 35px !important;
  top: 65px;
  width: 150px;
  height: 150px;
  z-index: -10;
  transform: rotate(-122deg);
}
.widget-cpumeter .chart {
  opacity: 0.75;
  position: absolute;
  left: 15px;
  width: 190px;
  height: 180px;
  z-index: -10;
}
