.widget-physmeter {
  background-color: #9c4274;
}
.widget-physmeter .grouper {
   display: table; margin: auto;
}
.widget-physmeter .title {
  color: rgba(255, 255, 255, 0.7);
}
.widget-physmeter .more-info {
  color: rgba(255, 255, 255, 0.3);
}
.widget-physmeter .updated-at {
  color: rgba(0, 0, 0, 0.3);
}
.widget-physmeter .value {
  position: absolute;
  top: 48%;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  z-index: 10;
}
.widget-physmeter .freq {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 25px;
  z-index: 10;
}
.widget-physmeter .meter {
  position: absolute;
  left: 35px !important;
  top: 65px;
  width: 150px;
  height: 150px;
  z-index: -10;
  transform: rotate(-122deg);   
}
.widget-physmeter .chart {
  opacity: 0.75;
  position: absolute;
  left: 15px;
  width: 190px;
  height: 180px;
  z-index: -10;
}
