.widget-text {
  background-color: #ec663c;
}
.widget-text .title {
  color: rgba(255, 255, 255, 0.7);
}
.widget-text .more-info {
  color: rgba(255, 255, 255, 0.7);
}
.widget-text .updated-at {
  color: rgba(255, 255, 255, 0.7);
}
.widget-text .widget-text.large h3 {
  font-size: 65px;
}